<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.coadmin.modules.cron.service.mapper.ChargerCronMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.name, a.cron_open, a.cron_close, a.status, a.job_id, a.job_week, a.id
  </sql>
  -->
</mapper>
